*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #17212F;
  color: #fff;
  width: 100%;
}

.tradingview-widget-container {
  /* padding: 20px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
